<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,">
  <link rel="icon" href="https://www.tip.edu.ph/assets/Uploads/TIP-INFORMAL-LOGO-04-2.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Home | Office of Student Affairs</title>
  <style>
    body{
      padding-top: 6rem;
    }
    .carousel-caption {
    background-color: rgba(0, 0, 0, 0.35); 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    text-align: center;
  }

  .carousel-caption h1 {
    font-size: 2.5em; 
    color: #ffffffff; 
  }

  .carousel-caption p {
    font-size: 1.2em; 
    color: #ffffffff; 
  }

  .input-group {
    margin-top: 20px; 
  }

   </style>
</head>
<body>
  
  <%- include('admin-navbar') %>

  <main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item">
          <img class="second-slide" src="/images/accounting.jpg" alt="First Slide" style="opacity: 50%;">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1><strong>Feedbacks💬</strong></h1>
              <p><strong>Connect with the Students and Hear their Voice: </strong>Hear Their Insights, Feedback, or Inquiries</p>
              <p><a class="btn btn-lg btn-warning" href="/admin-feedbackoutput" role="button">View More</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <img class="first-slide" src="/images/library2.jpg" alt="First Slide" style="opacity: 50%;">
          <div class="container">
            <div class="carousel-caption">
              <h1><strong>Recover Your Lost Items with Ease!</strong></h1>
              <p>We help students recover their lost personal items in campus.</p>
              <center><div class="input-group col-md-8 mb-3">
                <select class="custom-select d-block w-100" id="category" onchange="location = this.value;" required>
                    <option selected disabled>Category</option>
                    <option value="/admin-item/all/lost">All</option>
                    <option value="/admin-item/accessories/lost">Accessories</option>
                    <option value="/admin-item/bag/lost">Bag</option>
                    <option value="/admin-item/docs/lost">Books and Documents</option>
                    <option value="/admin-item/lunchbox/lost">Food Container</option>
                    <option value="/admin-item/tumbler/lost">Tumbler and Water Bottles</option>
                    <option value="/admin-item/clothing/lost">Clothing</option>
                    <option value="/admin-item/footwear/lost">Footwear</option>
                    <option value="/admin-item/electronics/lost">Electronics</option>
                    <option value="/admin-item/identification/lost">Identification</option>
                    <option value="/admin-item/jewelry/lost">Jewelry</option>
                    <option value="/admin-item/keys/lost">Keys</option>
                    <option value="/admin-item/miscellaneous/lost">Miscellaneous</option>
                    <option value="/admin-item/money/lost">Money</option>
                    <option value="/admin-item/sports/lost">Sports equipment</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid category.
                </div>
              </div></center>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="/images/tip.jpg" alt="First Slide" style="opacity: 50%;">
          <div class="container">
            <div class="carousel-caption text-right">
              <h1><strong>Announcements📣</strong></h1>
              <p><strong>To keep the Students Updated: </strong>Create the latest updates for our campus!</p>
              <p><a class="btn btn-lg btn-warning" href="/admin-announcementList" role="button">Create</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-fluid" src="https://tagmefy.com/static/images/icon1.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Register lost or found object!</h2>
          <p>Free, simple and fast registration. Select category, add picture and short description.</p>
        </div>
        <div class="col-lg-4">
          <img class="img-fluid" src="https://tagmefy.com/static/images/icon3.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Select auto-matched items!</h2>
          <p>Our smart search agent will do the magic and show most relevant matches to your lost or found request.</p>
        </div>
        <div class="col-lg-4">
          <img class="img-fluid" src="https://tagmefy.com/static/images/icon2.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Send or get message!</h2>
          <p>No matches? Don't worry. Thanks to our community and smart technology you will be notified if any new matches will be found.</p>
        </div>
      </div>

      <hr class="featurette-divider bg-dark" style="border: none; height: 5px; margin-bottom: 50px">

      <h1>Latest Items</h1>
      <div class="album py-5">
        <div class="container">
          <div class="row">
            <% for (let i = 0; i < data.length && i < 9; i++){ 
              if (data[i].status !== "Archived" && data[i].status !== "Claimed"){ 
            %>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm bg-light">
                  <div style="position: relative; aspect-ratio: 1/1; width: 100%">
                    <% if (typeof data[i].valuable != "undefined" && data[i].valuable == "Yes" ) { %>
                    <div style="position: absolute; bottom: 0; left: 0; width: 100%; height: 3em; background-color: rgb(7, 197, 0); opacity: 0.8;"></div>
                    <h5 style="position: absolute; bottom: 0.2em; text-align: center; width: 100%; color: white;">Highly Valuable</h5>
                    <% } %>
                    <img class="card-img-top mx-auto" src="<%= data[i].image %>" alt="Card image cap" style="height: 100%; width: 100%;">
                  </div>
                  <div class="card-body">
                    <h6 class="card-text"><%= data[i].objTitle.toUpperCase() %> <small><span class="text-muted"> <%= data[i].type === 'lost' ? '(Lost Item)' : '(Found Item)' %> </span></small></h6>
                    <p class="card-text">Location: <%= data[i].location %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" onclick="location = '/admin-view/<%= data[i].type+'/'+data[i].id%>'" class="btn btn-sm btn-warning">View</button>
                        <button type="button" onclick="location = '/admin-update/<%= data[i].type+'/'+data[i].id%>'" class="btn btn-sm btn-secondary">Edit</button>
                      </div>
                      <small class="text-muted">
                        <% const time = data[i].dataAdded.toDate().toLocaleTimeString('en-US');%>
                        <%= time%>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            <% }} %>
          </div>
        </div>
      </div>

    </div>

    <%- include('../footer') %>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>