<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,">
    <link rel="icon" href="https://www.tip.edu.ph/assets/Uploads/TIP-INFORMAL-LOGO-04-2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Users | Office of Student Affairs</title>
    <style>
        
        .alert-success {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1.2em;
        position:fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(81, 240, 160);
        padding: 1.3em 1em;
        width: 20em;
        border-radius: 5px;
        opacity: 0;
        z-index: 1000;
        }

        @keyframes success {
            0%, 90% {
                opacity: 1;
            }
        }

        .alert-success > p {
            color: rgb(0, 83, 0);
        }

        .alert-register {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.2em;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgb(81, 240, 160);
            padding: 1.3em 1em;
            width: 20em;
            border-radius: 5px;
            opacity: 0;
            z-index: 1000;
        }

        @keyframes register {
            0%, 90% {
                opacity: 1;
            }
        }

        .alert-register > p {
            color: rgb(0, 83, 0);
        }

        .alert-error {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1.2em;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgb(255, 114, 114);
            padding: 1.3em 1em;
            width: 20em;
            border-radius: 5px;
            opacity: 0;
            z-index: 1000;
        }

        .alert-error > p {
            color: rgb(83, 0, 0);
        }

        @keyframes error {
            0%, 90% {
                opacity: 1;
            }
        }

        .link {
            font-size: 0.95em;
            color: rgb(27, 27, 27);
        }

        a {
            color: rgb(27, 27, 27);
        }

        .vh-100 {
        color: rgb(1, 18, 14);
        }
    </style>
</head>
<body>
    <%- include('admin-navbar') %>
    
    <div class="container content">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h1 class="text-dark">Users <button id="openModalButton" class="btn btn-warning" style="width: 50px; height: 50px;"><i class="fas fa-plus"></i></button></h1>
            </div>
            <div class="col-md-4 mb-3" >
                <div class="alert-register" id="alert-register">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 8px; height: 8px; stroke: rgb(0, 83, 0); fill: none;" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <p>Registered successfully.</p>
                </div>
                <div class="alert-error" id="alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" style="width: 8px; height: 8px; stroke: rgb(83, 0, 0);" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <p>User already exists.</p>
                </div>
            </div>
        </div>
        <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-secondary text-light">
                        <h5 class="modal-title" id="registrationModalLabel">Register an Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/users" method="POST">
                            <div class="container bg-light">
                                <h1>Create an account</h1>
                                <div class="name-container">
                                    <div class="input-container">
                                        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" required>
                                    </div>
                                    <div class="input-container">
                                        <input type="text" name="lastName" class="form-control" placeholder="Last Name" aria-placeholder="Last Name" required>
                                    </div>
                                </div>
                                <div class="name-container">
                                    <div class="input-container">
                                        <input type="text" name="studentNumber" class="form-control" placeholder="Student Number" required>
                                    </div>
                                    <div class="input-container">
                                        <input type="text" name="contactNumber" class="form-control" placeholder="Contact Number" aria-placeholder="Contact Number" required>
                                    </div>
                                </div>
                                
                                <div class="input-container">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="input-container">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                                </div>
                                <div class="input-container" style="padding-bottom: 50px;">
                                    <label for="role">TYPE:</label><br>
                                    <select name="role" id="role" class="form-control">
                                        <option value="User">User</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                </div>
                            </div>
                        <button type="submit" class="btn btn-warning">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="float: right;">
            <input type="text" class="form-control bg-light" id="searchInput" placeholder="Search...">
        </div>
        <div class="pagination">
            <button id="prevPage" class="btn btn-light"><i class="fas fa-arrow-left"></i></button>
            &nbsp;
            <button id="nextPage" class="btn btn-light"><i class="fas fa-arrow-right"></i></button>
        </div>
        <table class="table table-striped table-hover table-warning" id="historyTable">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Student No.</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% for (let item of data) { %>
                        <tr>
                            <td><%= item.firstName %> <%= item.lastName %></td>
                            <td><%= item.email %></td>
                            <td><%= item.contactNumber %></td>
                            <td><%= item.studentNumber %></td>
                            <td><%= item.role %></td>
                            <td>
                                <a href="/edit-user/<%= item.id %>" class="btn btn-sm btn-primary btn-edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button class="btn btn-danger btn-sm btn-delete" data-item-id="<%= item.id %>">
                                    <i class="fas fa-trash"></i> 
                                </button>
                            </td>
                        </tr>
                    <% } %>
            </tbody>
        </table>
        <%- include('../footer') %>
    </div> 
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const openModalButton = document.getElementById("openModalButton");
        const registrationModal = document.getElementById("registrationModal");

        const itemsPerPage = 8;
        let currentPage = 1;

    function showItemsForPage(page) {
        const $itemList = $(".table tbody tr");
        $itemList.hide();

        const startIndex = (page - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;

        $itemList.slice(startIndex, endIndex).show();
    }

    showItemsForPage(currentPage);

    $("#nextPage").on("click", function () {
        currentPage++;
        showItemsForPage(currentPage);
    });

    $("#prevPage").on("click", function () {
        if (currentPage > 1) {
            currentPage--;
            showItemsForPage(currentPage);
        }
    });

    openModalButton.addEventListener("click", function () {
        $(registrationModal).modal("show");
    });

    $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("table tbody tr").filter(function () {
                var rowText = $(this).text().toLowerCase();
                $(this).toggle(rowText.indexOf(value) > -1);
            });
    });

    $("table th").on("click", function() {
            var columnIndex = $(this).index();
            var sortOrder = $(this).data("sort-order") || "asc";

            $("table th").data("sort-order", ""); // Reset sort order for other columns
            if (sortOrder === "asc") {
                sortOrder = "desc";
            } else {
                sortOrder = "asc";
            }

            $(this).data("sort-order", sortOrder);
            var rows = $("table tbody tr").get();

            // Custom sorting logic
            rows.sort(function(a, b) {
                var x = $(a).children("td").eq(columnIndex).text().toLowerCase();
                var y = $(b).children("td").eq(columnIndex).text().toLowerCase();

                // Move pending appointments to the top
                if (x === "pending") return -1;
                if (y === "pending") return 1;

                // Regular sorting
                if (sortOrder === "asc") {
                    return x.localeCompare(y);
                } else {
                    return y.localeCompare(x);
                }
            });

            $.each(rows, function(index, row) {
                $("table tbody").append(row);
            });
        });

        $(".btn-delete").on("click", function() {
        var itemId = $(this).data("item-id");
        if (confirm("Are you sure you want to delete this item?")) {
            window.location.href = `/admin-users/delete/${itemId}`;
        }
        });
    
        var urlParams;
        (window.onpopstate = function () {
            var match,
                pl     = /\+/g,  
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                query  = window.location.search.substring(1);
        
            urlParams = {};
            while (match = search.exec(query))
            urlParams[decode(match[1])] = decode(match[2]);
        })();
        if (urlParams.status == "success") {
            const alert = document.getElementById("alert-success");
            alert.style.animation = "success 3.5s";
        } else if (urlParams.status == "error") {
            const alert = document.getElementById("alert-error");
            alert.style.animation = "error 3.5s";
        } else if (urlParams.status == "register") {
            const alert = document.getElementById("alert-register");
            alert.style.animation = "register 3.5s";
        }
    });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>