<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,">
<link rel="icon" href="https://www.tip.edu.ph/assets/Uploads/TIP-INFORMAL-LOGO-04-2.png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>Announcement List | Office of Student Affairs</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
body {
    padding-top: 0;
    padding-bottom: 4rem;

}
.content {
    background-color: #f4f4f4;
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 3rem;    
}
.content h1{
    padding-bottom: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content footer {
    padding-bottom: 3rem;
    background-color: #f4f4f4;
}

.container.content {
    background-color: white;
    color: black; 
}

.footer {
    background-color: white; 
    color: black; 
}

</style>
</head>

<body>
    <%- include('admin-navbar') %>

    <div class="container content">
        <div class="text-dark">
        <h1>Announcement List <button id="openModalButton" class="btn btn-warning" style="width: 50px; height: 50px;"><i class="fas fa-plus"></i></button></h1>
        
        <div id="announcementModal" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Create Announcement</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/admin-announcementList" enctype="multipart/form-data" method="post">
                    <input type="text" placeholder="Subject" class="form-control" name="subject">
                    <input type="datetime-local" name="datetime" id="datetime" class="form-control" required>
                    <textarea name="thoughts" class="form-control" placeholder="Share us your thoughts.." cols="10" rows="8"></textarea>
                    <label for="imageUpload">Image Upload</label>
                    <input type="file" class="form-control-file" id="file" name="file" accept="image/png, image/gif, image/jpeg">
                    <div style="float: right;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="send" class="btn btn-warning">
                            <i class="fas fa-paper-plane"></i> Post
                        </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-group" style="float: right;">
            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
        </div>
    
        <table class="table table-striped table-hover table-muted table-rounded-top" id="historyTable">
            <thead>
                <tr class="bg-dark text-light">
                    <th>Subject</th>
                    <th>Date/Time</th>
                    <th>Thoughts</th>
                    <th>Image</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (let item of data) { 
                    if (typeof item.status == "undefined" || item.status != "Archived") {
                %>
                    <tr>
                        <td><%= item.subject %></td>
                        <td><%= item.datetime %></td>
                        <td><%= item.thoughts %></td>
                        <td> <img class="card-img-top mx-auto" src="<%= item.image %>" alt="Card image cap" style="height: 150px; width: 150px;"></td>
                        <td style="display: flex; gap: 0.5em; align-items: center;">
                            <button onclick="location = '/admin-announcementList/archive/<%=item.id%>'" class="btn btn-sm btn-warning">
                                <i class="fa fa-archive"></i>
                            </button>
                            <button class="btn btn-danger btn-sm btn-delete" data-item-id="<%= item.id %>">
                                <i class="fas fa-trash"></i> 
                            </button>
                        </td>
                    </tr>
                <% }} %>


            </tbody>
        </table>
    </div>
    <%- include('../footer') %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
    $("#openModalButton").click(function() {
        $("#announcementModal").modal("show");
    });

    // Initialize the modal
    $("#announcementModal").modal({
        backdrop: "static",
        show: false
    });

        $(".btn-delete").on("click", function() {
        var itemId = $(this).data("item-id");
        if (confirm("Are you sure you want to delete this item?")) {
            window.location.href = `/admin-announcementList/delete/${itemId}`;
        }
    });

    function displayAlert(message, alertClass) {
        var alertMessage = $("#alertMessage");
        alertMessage.text(message);
        alertMessage.removeClass("alert-success alert-danger");
        alertMessage.addClass(alertClass);
        alertMessage.show();

        
        setTimeout(function() {
            alertMessage.hide();
        }, 3000);
    }

    $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#historyTable tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
});
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
