<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,">
  <link rel="icon" href="https://www.tip.edu.ph/assets/Uploads/TIP-INFORMAL-LOGO-04-2.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Appointment | Office of Student Affairs</title>
  <style>
  body {
    background-image: url('/images/accounting.jpg');
    background-size: cover;
    
  }

.container {
	height: auto;
  width: 50%;
    background-color: #f5f5f5;
    
}

form {
	min-width: 25rem;
	
	.title {
		font-family: 'Pacifico', cursive;
		color: #212529;
		font-size: 2.5rem;
	}
	
  .form-control {
    background-color: #f2f6f8;
		border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		
    &.thick {
      height: 3.3rem;
      padding: .5rem 3.5rem;
    }
		
		&:focus {
			background-color: #f2f6f8;
			border: none;
			box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		}
  }
	
	.message .form-control {
			padding: .5rem 1.8rem;
	}
	
  ::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
	
  input{
		font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 1.1rem;
  }
	
  .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}

.btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
	font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image:linear-gradient(131deg, #53ff40, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

.contact form{
    margin: 0 auto;
    border-radius: .5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 8rem;
    max-height: 40rem;
    text-align: center;
    box-shadow:  0 14px 28px rgba(0, 0, 0, 0.25);
    margin-top: 70px;
    background-color: white;
    border-color: #100c08;
    border-width: 15px;
}

.contact form h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: black;
    font-weight: bold;
}

.contact form .form-control{
    margin: .75rem 0;
    width: 95%;
    font-weight: 1em;
    background-color: white;
    font-size: 15px;
    color: black;
    border: gray;
    border-width: 0.25px;
    border-style:solid;
}

.contact .btn{
    font-family: 'Quicksand', sans-serif;
	  font-weight: bold;
    font-size: medium;
    height: auto;
    width: auto;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 10px;
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.contact form .form-control::placeholder{
    font-weight: 100;
    font-size: 15px;
}

.footer{
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}


</style>
</head>
<body>
   
  <%- include('navbar') %>
    
  <div class="container mt-5" style="background: #00000000; align-items: center;">
        <div class="card mb-3 shadow-sm">
          <div class="card-body bg-dark text-light">
            <h3 class="card-title">Appointment</h3>
            <div class="form" style="margin: 0; padding: 0;">
                <label for="">Date and Time of <%=appointment[0].purpose%>:</label>
                <center>
                  <%
                  const timeParts = appointment[0].time.split(':');
                  const appointmentTime = new Date();
                  appointmentTime.setHours(parseInt(timeParts[0], 10));
                  appointmentTime.setMinutes(parseInt(timeParts[1], 10));
                %>
                
                <h2><%= new Date(appointment[0].date.toMillis()).toDateString().substring(4) %> / <%= appointmentTime.toLocaleTimeString('en-US') %></h2>
              </center>
            </div>
            <input type="text" id="contactnumber" value="<%= appointment[0].status.charAt(0).toUpperCase() + appointment[0].status.slice(1) %>" class="form-control text-light" placeholder="Contact Number" value="<%= user.contactNumber %>" name="contactnumber" readonly style="background-color: <%= appointment[0].status === 'approved' ? 'green' : 'red' %>; text-align:center; font-size:larger;">
          </div>
        </div>
  </div>


  <footer class="footer">
    <p class="float-right"><a href="#"><i class="fas fa-arrow-up fa-lg" style="color: #ffd43b;"></i></a></p>
    <p><center><strong><span class="text-dark">&copy; 2023 Office of Student Affairs Technological Institute of the Philippines, Manila</span></strong></p></center>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>